extends layout
block content
    h1= title
    form(id='dogForm' action="/resource/dogs" method="POST")
    
        div.form-group
            label.dogAttr(for='dog_name') dog name
            input#dog_name(type='text' name='dog_name')
        div.form-group
            label.dogAttr(for='dog_year') dog year
            input#dog_year(type='number' name='dog_year')
        div.form-group
            label.dogAttr(for='dog_birth') dog birth
            input#dog_birth(type='text' name='dog_birth')
        input(type="submit")
    script.
      document.forms['dogForm'].addEventListener('submit', (event) => {
        event.preventDefault();
    // TODO do something here to show user that form is being submitted

        fetch(event.target.action, {
          method: 'POST',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Save succeded")
    // TODO handle body
        }).catch((error) => {
    // TODO handle error
          alert("Save failed " + error )
        });
        });